<mat-spinner *ngIf="loading"></mat-spinner>

<div *ngIf="debug">Debug:Dans list-pair.component.html:loading = {{loading}}</div>
<div *ngIf="debug">Debug:Dans list-pair.component.html:nombre de pairs = {{pair_a.length}}</div>

<p class="text-center"
   *ngIf="pair_a.length <= 0 && !loading">
    La collection <b><i>pair_c</i></b> de la base de données <b><i>blockchain-texte-versions-db</i></b> est vide !</p>

<p class="text-center">Les Pairs</p>

    <div class="pair-grid"
	 *ngIf="pair_a.length >= 0">

    <div class="pair-pane"
	 *ngFor="let un_pair of pair_a"
	 (click)="onPairClicked(un_pair._id)">
	<div class="pair-titre">
	    <h5>
		Url : {{ un_pair.url }}
	    </h5>
	</div>
    </div>
    
    <p class="alert-danger"
       *ngIf="errorMessage">Dans list-pair.component.html.<br>Erreur lors de la lecture des pairs:<br> {{ errorMessage }}</p>

</div>
