<mat-spinner *ngIf="loading"></mat-spinner>

<div *ngIf="debug">Debug:Dans list-bloc.component.html:loading = {{loading}}</div>
<div *ngIf="debug">Debug:Dans list-bloc.component.html:nombre de blocs = {{bloc_a.length}}</div>

<p class="text-center"
   *ngIf="bloc_a.length <= 0 && !loading">
    La collection <b><i>bloc_c</i></b> de la base de données <b><i>blockchain-texte-versions-db</i></b> est vide !</p>

<div class="bloc-grid"
     *ngIf="bloc_a.length >= 0">

    <div class="bloc-pane"
	 *ngFor="let un_bloc of bloc_a"
	 (click)="onBlocClicked(un_bloc._id)">
	<div class="bloc-info">
	    <h5>
		<ul>
		    <li>Horodatage:<br> {{ un_bloc.horodatage }}</li>

		    <li *ngIf="verbose">Pseudo de l'auteur:<br> {{ un_bloc.pseudo }}</li>
		    <li>Clé publique de l'auteur:<br> {{ un_bloc.auteurClePublique }}</li>
		    <li>Index du bloc:<br> {{ un_bloc.index }}</li>

		    <li>Hash du bloc précédent:<br> {{ un_bloc.hashPrecedent }}</li>
		    <li>Hash du bloc courant:<br> {{ un_bloc.hashCourant }}</li>
		</ul>
	    </h5>
	</div>
	<div class="bloc-contenu">
	    <p>{{ un_bloc.contenu }}</p>
	</div>
    </div>
    <p class="alert-danger"
       *ngIf="errorMessage">Dans list-bloc.component.html.<br>Erreur lors de la lecture des notations:<br> {{ errorMessage }}</p>

</div>
