<app-header></app-header>

<div class="main-pane">
    <div class="part-grid">
	<div class="part"
	     (click)="onNavigate('textes')">
	    <h1>Textes à noter</h1>
	</div>
	<div class="part"
	     (click)="onNavigate('blocs')">
	    <h1>Les Blocs</h1>
	</div>
	<div class="part"
	     (click)="onNavigate('blocs/blockchain')">
	    <h1>Blockchain</h1>
	</div>
	<div class="part"
	     (click)="onNavigate('pairs')">
	    <h1>Les Pairs</h1>
	</div>
	<div class="part"
	     (click)="onNavigate('profil')">
	    <h1>Profil</h1>
	</div>
    </div>
</div>

