<mat-spinner *ngIf="loading"></mat-spinner>

<div *ngIf="debug">Debug:Dans blockchain.component.html:loading = {{loading}}</div>
<div *ngIf="debug">Debug:Dans blockchain.component.html:nombre de blocs = {{blockchain.length}}</div>

<p class="text-center"
   *ngIf="!loading">
    La collection <b><i>blockchain_c</i></b> de la base de données <b><i>blockchain-texte-versions-db</i></b> est vide !</p>

<div class="bloc-grid">

    <div class="bloc-pane">
		Blockchain :
	<div class="bloc-contenu">
	    <p>{{ blockchain }}</p>
	</div>
    </div>
    
    <p class="alert-danger"
       *ngIf="errorMessage">Dans blockchain.component.html.<br>Erreur lors de la lecture des notations:<br> {{ errorMessage }}</p>

</div>

