<mat-spinner *ngIf="loading"></mat-spinner>

<div *ngIf="debug">Debug:Dans blockchain.component.html:loading = {{loading}}</div>
<div *ngIf="debug">Debug:Dans blockchain.component.html:nombre de blocs = {{blockchain.length}}</div>

<p class="text-center"
   *ngIf="blockchain.blocs.length <= 0 && !loading">
    La collection <b><i>blockchain_c</i></b> de la base de données <b><i>blockchain-texte-versions-db</i></b> est vide !</p>

<div class="bloc-grid"
     *ngIf="blockchain.blocs.length >= 0">

    <div class="bloc-pane"
	 *ngFor="let un_bloc of blockchain.blocs"
	 (click)="onBlocClicked(un_bloc._id)">
	<div class="bloc-info">
	    <h5>
		<ul>
		    <li>index {{ un_bloc.index }} </li>
		    <li>Clé publique de l'auteur: {{ un_bloc.auteurClePublique }}</li>
		    <li>horodatage: {{ un_bloc.horodatage }}</li>
		</ul>
	    </h5>
	</div>
	Texte :
	<div class="bloc-contenu">
	    <p>{{ un_bloc.contenu }}</p>
	</div>

    </div>
    
    <p class="alert-danger"
       *ngIf="errorMessage">Dans blockchain.component.html.<br>Erreur lors de la lecture des notations:<br> {{ errorMessage }}</p>
    
</div>

