<div *ngIf="debug">Debug:Dans single-pair.component.html</div>
    <div class="single-pair-pane">

	<div class="single-pair-info">
	    <button class="btn btn-primary m-1"
		    (click)="onModifyPair()">Modifier</button>
	    <br>
	    <button class="btn btn-primary m-1"
		    (click)="onConnectPair()">Connecter</button>
	    <br>
	</div>
	<button class="btn btn-danger m-1" (click)="onDeletePair()"
		[disabled]="!isAuth">Supprimer</button>
	<br>
	<button class="btn btn-link"
		(click)="onGoAllPair()"><< Retour à la liste des Pairs</button>

	<p class="alert-danger"
	   *ngIf="errorMessage">Dans single-pair.component.html.<br>Erreur<br> {{ errorMessage }}</p>
	
	<p class="alert-danger" *ngIf="!isAuth"><br>
	    Il faut <a class="header-link"
		       routerLink="/login"
		       routerLinkActive="active">
	    <button class="btn btn-primary">se connecter</button>
	    </a> pour modifier un pair
	</p>

</div>
